-# %head
-#   %meta{"charset":"UTF-8"}
-#   %link{"href": "reset.scss", "rel": "stylesheet"}
-#   %link{"href": "style.scss", "rel": "stylesheet"}
-#   %title chat-space
-# %body

.wrapper
  = render "side_bar"
  = render "chat_main"
   